/* Base styles */
main {
  display: flex;
  flex-direction: column;
  padding: 40px 30px 0px 30px;
}

section {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 12px;
}

input[type="number"] {
  margin-bottom: 24px;
}

/* Classes */
.title-and-clear-btn-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding-block: 30px;
}
