/* Base styles */
main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  padding: 40px 30px 0px 30px;
}

label {
  margin-bottom: 15px;
  color: var(--text-light);
  font-size: 1.32rem;
  font-weight: 500;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  border: none;
  outline: none;
  background: none;
  -moz-appearance: textfield;
  appearance: textfield;

  min-height: 100%;
  width: 100%;
  padding: 20px;
  font-size: x-large;
  color: var(--text-dark);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;

  width: 1em;
  height: 1em;

  outline: 2px solid var(--text-dark);
  outline-offset: 3px;

  border-radius: 50%;

  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: var(--green-dark);
  outline: 2px solid var(--green-dark);
  outline-offset: 3px;
}
input[type="radio"]:checked {
  background-color: var(--green-dark);
  outline: 2px solid var(--green-dark);
  outline-offset: 3px;
}

input[type="radio"]:focus-visible {
  outline: 2px solid blue;
  outline-offset: 3px;
}

input[type="number"]:focus ~ div {
  background-color: var(--green-dark);
  color: var(--text-dark);
}

button {
  appearance: none;
  border: none;
  border-radius: 500px;
  height: 60px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: larger;
  color: var(--text-dark);
  background-color: var(--green-dark);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 40px;
}

button:hover {
  cursor: pointer;
  background-color: var(--green-dark);
}

/* Classes */
.title-and-clear-btn-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title-and-clear-btn-container p {
  color: var(--text-light);
  text-decoration: underline;
  font-size: 1.32rem;
  font-weight: 500;
}
.title-and-clear-btn-container h1 {
  color: var(--text-dark);
}

.form-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.input-box {
  display: flex;
  border: 1px solid var(--text-light);
  border-radius: 6px;

  height: 60px;
  margin-bottom: 24px;
}

.reverse {
  flex-direction: row-reverse;
}

.input-box:focus-within {
  border-color: var(--green-dark);
}

.input-guideline-box {
  height: 100%;
  width: min-content;
  padding-inline: 1.2rem;
  display: flex;
  align-items: center;

  font-size: 20px;
  font-weight: 700;
  color: var(--text-light);
  background-color: rgb(222, 244, 255);
}

.error {
  border-color: red;
}

.error .input-guideline-box {
  color: var(--background);
  background-color: red;
}

.radio-input-box {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-left: 24px;
}

.radio-input-box:has(input[type="radio"]:checked) {
  background-color: var(--green-light);
}

.radio-label {
  font-weight: 700;
  color: var(--text-dark);
}
@media (min-width: 1024px) {
  main {
    background-color: var(--background);
    width: 1000px;

    display: flex;
    flex-direction: row;
  }

  section {
    height: 600px;
    width: 500px;
  }
}
