/* Base styles */
main {
  display: flex;
  flex-direction: column;
  padding: 40px 30px 0px 30px;
}

section {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 15px;
  color: var(--text-light);
  font-size: 1.32rem;
  font-weight: 500;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  border: none;
  outline: none;
  background: none;
  -moz-appearance: textfield;
  appearance: textfield;

  min-height: 100%;
  width: 100%;
  padding: 20px;
  font-size: x-large;
  color: var(--text-dark);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
}

/* Classes */
.title-and-clear-btn-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title-and-clear-btn-container p {
  color: var(--text-light);
  text-decoration: underline;
  font-size: 1.32rem;
  font-weight: 500;
}
.title-and-clear-btn-container h1 {
  color: var(--text-dark);
}

.form-container {
  display: flex;
  flex-direction: column;
  padding-block: 40px;
  padding-bottom: 30px; /* Temporary */
}

.input-box {
  display: flex;
  border: 1px solid var(--text-light);
  border-radius: 6px;

  height: 60px;
  margin-bottom: 24px;
}

.input-guideline-box {
  height: 100%;
  width: min-content;
  padding-inline: 1.2rem;
  display: flex;
  align-items: center;

  font-size: 20px;
  font-weight: 700;
  color: var(--text-light);
  background-color: rgb(222, 244, 255);
}
