:root {
  --background: #fafdfe;
  --foreground: #171717;

  --text-ultralight: rgb(141, 170, 185);
  --text-light: rgb(48, 94, 113);
  --text-dark: rgb(23, 54, 67);
  --text-darker: rgb(14, 40, 51);
  --text-darkest: rgb(13, 33, 41);
  --green-dark: rgb(205, 210, 58);
  --green-light: rgb(245, 245, 213);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
span {
  color: red;
  margin-bottom: 24px;
}

/* Utilities */

.clickable:hover {
  cursor: pointer;
}

.rounded-r-5px {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rounded-l-5px {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 0.2rem);
    background-color: rgb(222, 244, 255);
  }
}
