#result {
  background-color: var(--text-dark);
  min-height: 430px;
  color: var(--background);
  padding: 40px 30px 0px 30px;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.results-container h2 {
  font-weight: 700;
  font-size: 28px;
}

.results-container p {
  color: var(--text-ultralight);
  font-weight: 500;
  text-align: center;
  line-height: 1.7rem;
  font-size: 20px;
}

.success {
  align-items: start;
  padding-bottom: 40px;
}

.success p {
  text-align: left;
}

.result-card {
  background-color: var(--text-darkest);
  border-radius: 8px;
  width: 100%;
  padding: 30px 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  transform-style: preserve-3d;
}

.card-lip {
  background-color: var(--green-dark);
  width: 100%;
  border-radius: 10px;
  height: 30px;
  position: absolute;
  top: -1.5%;
  left: 0%;
  transform: translateZ(-1px);
}

.repayment-amount {
  font-size: 50px;
  color: var(--green-dark);
}

.total-amount {
  font-size: 30px;
  color: var(--background);
}

.result-card div p {
  margin-bottom: 14px;
}

hr {
  color: var(--text-light);
  width: 100%;
}

@media (min-width: 1024px) {
  .results-container {
    height: 100%;
  }

  #result {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-emphasis: 100%;
    padding: 0px 40px 0px 40px;
  }
}
